// change as needed

@use 'fonts';


// COLORS, SPACING, BREAKPOINTS
$color-black: #111;
$color-white: #fff;
$color-light-gray: #efefef;
$color-bg-footer: #fafafa;

$breakpoint-md: 850px;


$font-primary: 'Poppins', Arial, sans-serif;   // body
$font-secondary: 'Kalnia', serif;             // headings






