// change as needed

@use 'fonts';


// COLORS, SPACING, BREAKPOINTS
$color-deep-dark: #280d6b9f; // The high-end "off-black" from the screenshot
$color-text-main: #ffffff;

$breakpoint-md: 850px;


$font-primary: 'Poppins', Arial, sans-serif;   // body
$font-secondary: 'Kalnia', serif;             // headings






