@use "../abstracts" as abs;

footer {
  margin-top: 100px;
  padding: 60px 40px;
  background: rgb(222, 180, 220);
  @include abs.grid(repeat(auto-fit,minmax(220px,1fr)),40px);

  .footer-nav ul, .footer-social ul { 
  list-style: none; 
  color: white;
  
  li { margin-bottom: 10px; } }

  .footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
    opacity: 0.6;
    color: white;
  }
}

  
  