footer {
  margin-top: 100px;
  padding: 40px 40px;
  background: rgb(222, 180, 220);
  width: 100%;


  .footer-logo {
    text-align: left; 
    img {
      max-width: 80px; 
      height: auto;
      display: inline-block;
      margin-bottom: 15px;
    }

    h2 {
      display: none; 
    }
  }

  .footer-nav ul, 
  .footer-social ul { 
    list-style: none; 
    color: white;
    text-align: right;
    
    li { margin-bottom: 10px; } 
  }

  .footer-bottom {
    grid-column: 1 / -1;
    text-align: center;
    padding-top: 30px;
    font-size: 1.5rem;
    opacity: 0.6;
    color: white;
  }
}


  
  