@use "../abstracts" as abs;

.hero {
  padding: 0 40px;
  @include abs.flex(column, flex-start, center);

  .hero-banner {
    font-family: abs.$font-secondary;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: rgb(58, 58, 58);
  }

  p {
    font-family: abs.$font-primary;
    font-size: 1.2rem;
    opacity: 0.7;
  }

  @include abs.respond(md) {
    .hero-banner { font-size: 2.8rem; }
  }

  .video-player {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto 0;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  
    video {
      width: 100%;
      height: auto;
      border-radius: inherit;
      outline: none;
    }
  }
  
  @media (max-width: 768px) {
    .video-player {
      display: none;
    }
  }
  
}

  